*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:linear-gradient(135deg,#0f0f0f,#1a1a1a);
  color:white;
  overflow:hidden;
}

/* LAYOUT */
.layout{
  display:flex;
  height:calc(100vh - 90px);
}

/* MENU */
.menu{
  width:230px;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(10px);
  padding:20px;
  border-right:1px solid #333;
}

.menu nav p{
  margin:12px 0;
  color:#ddd;
  cursor:pointer;
}

#uploadBtn{
  margin-top:20px;
  width:100%;
  padding:10px;
  border:none;
  border-radius:8px;
  background:#ff4d6d;
  color:white;
  cursor:pointer;
}

/* MAIN CONTENT */
.content{
  flex:1;
  padding:20px;
  overflow-y:auto;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
  gap:15px;
  margin-top:20px;
}

.song-card{
  background:rgba(255,255,255,0.07);
  padding:15px;
  border-radius:12px;
  cursor:pointer;
  transition:0.2s;
}

.song-card:hover{
  transform:translateY(-3px);
  background:rgba(255,255,255,0.12);
}

/* PLAYER */
.player{
  position:fixed;
  bottom:0;
  width:100%;
  height:90px;
  background:rgba(0,0,0,0.8);
  backdrop-filter:blur(15px);
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 20px;
}

.left{
  display:flex;
  align-items:center;
  gap:10px;
  width:30%;
}

.left img{
  width:55px;
  height:55px;
  border-radius:8px;
}

.center{
  width:40%;
  text-align:center;
}

.controls button{
  background:none;
  border:none;
  color:white;
  font-size:22px;
  margin:0 6px;
  cursor:pointer;
}

#progress{
  width:100%;
  margin-top:5px;
}

/* MOBILE */
@media(max-width:768px){
  .menu{display:none;}
  .center{width:60%;}
  .left{width:40%;}
}