*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#121212;
  color:white;
  overflow:hidden;
}

/* LAYOUT */
.container{
  display:flex;
  height:calc(100vh - 90px);
}

/* SIDEBAR */
.sidebar{
  width:220px;
  background:#000;
  padding:20px;
}

.sidebar h2{
  margin-bottom:20px;
}

.sidebar p{
  margin:12px 0;
  color:#b3b3b3;
  cursor:pointer;
}

#uploadBtn{
  margin-top:20px;
  background:#1db954;
  border:none;
  color:white;
  padding:10px;
  width:100%;
  border-radius:6px;
  cursor:pointer;
}

/* MAIN */
.main{
  flex:1;
  padding:20px;
  overflow-y:auto;
}

#songList{
  margin-top:20px;
}

.song-card{
  background:#1e1e1e;
  padding:14px;
  margin-bottom:10px;
  border-radius:8px;
  cursor:pointer;
  transition:0.2s;
}

.song-card:hover{
  background:#282828;
}

/* PLAYER */
.player{
  position:fixed;
  bottom:0;
  width:100%;
  height:90px;
  background:#000;
  display:flex;
  align-items:center;
  padding:10px 20px;
  border-top:1px solid #222;
}

.player-left{
  display:flex;
  align-items:center;
  width:30%;
  gap:10px;
}

.player-left img{
  width:60px;
  height:60px;
  border-radius:6px;
}

.player-center{
  width:40%;
  text-align:center;
}

.controls button{
  background:none;
  border:none;
  color:white;
  font-size:20px;
  margin:0 6px;
  cursor:pointer;
}

#progress{
  width:100%;
  margin-top:6px;
}

/* MOBILE */
@media(max-width:768px){
  .sidebar{
    display:none;
  }

  .main{
    padding:15px;
  }

  .player{
    flex-direction:column;
    height:120px;
  }

  .player-left,.player-center{
    width:100%;
  }
}