* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #121212;
  color: white;
  padding-bottom: 140px;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #181818;
}

.upload-btn {
  background: #1db954;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

/* MAIN */
main {
  padding: 20px;
}

.card {
  background: #222;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
}

/* FOOTER NAV */
footer {
  position: fixed;
  bottom: 70px;
  width: 100%;
  background: #181818;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

footer a {
  color: white;
  text-decoration: none;
}

/* PLAYER */
.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #000;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.player img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.player-info {
  flex: 1;
}

#progress {
  width: 100%;
}

.controls button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer;
}